kontaktinfo-app-wsclient-sample/src/main/resources/wsdl/v1/kontaktinfo-ws-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://kontaktinfo.difi.no/wsdl/kontaktinfo-v1"
	xmlns:v1_0="http://kontaktinfo.difi.no/xsd/kontaktinfo/201210" name="kontaktinfo-webservice-v1" targetNamespace="http://kontaktinfo.difi.no/wsdl/kontaktinfo-v1">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://kontaktinfo.difi.no/xsd/kontaktinfo/201210" schemaLocation="kontaktinfo-ws-201210.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="hentKontaktinfoRequest">
		<wsdl:part name="hentKontaktinfoRequest" element="v1_0:hentKontaktinfoRequest" />
	</wsdl:message>
	<wsdl:message name="hentKontaktinfoResponse">
		<wsdl:part name="hentKontaktinfoResponse" element="v1_0:hentKontaktinfoResponse" />
	</wsdl:message>
	<wsdl:message name="hentKontaktinfolisteRequest">
		<wsdl:part name="hentKontaktinfolisteRequest" element="v1_0:hentKontaktinfolisteRequest" />
	</wsdl:message>
	<wsdl:message name="hentKontaktinfolisteResponse">
		<wsdl:part name="hentKontaktinfolisteResponse" element="v1_0:hentKontaktinfolisteResponse" />
	</wsdl:message>

	<wsdl:portType name="kontaktinfo_v1_0">
		<wsdl:operation name="hentKontaktinfo">
			<wsdl:input message="tns:hentKontaktinfoRequest" />
			<wsdl:output message="tns:hentKontaktinfoResponse" />
		</wsdl:operation>
		<wsdl:operation name="hentKontaktinfoliste">
			<wsdl:input message="tns:hentKontaktinfolisteRequest" />
			<wsdl:output message="tns:hentKontaktinfolisteResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="kontaktinfo_v1_0_SOAP11Binding" type="tns:kontaktinfo_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="hentKontaktinfo" sawsdl:modelReference="/dok/v1#hentKontaktinfo">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="hentKontaktinfoliste" sawsdl:modelReference="/dok/v1#hentKontaktinfoliste">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="kontaktinfo_v1_0">
		<wsdl:port binding="tns:kontaktinfo_v1_0_SOAP11Binding" name="kontaktinfo">
			<soap:address location="/ws" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
