kontaktinfo-dotNet-sample/KontaktregisteretGateway/Service References/Difi/oppslagstjeneste-metadata-14-05.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://begrep.difi.no" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://begrep.difi.no" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>Metadata for Oppslagstjenesten</xs:appinfo>
    <xs:documentation xml:lang="nb">
            Definisjon av XML-typer benyttet i webtjeneste-grensesnitt.
        </xs:documentation>
  </xs:annotation>
  <xs:element name="Person" type="tns:Person" />
  <xs:complexType sawsdl:modelReference="http://begrep.difi.no/Oppslagstjenesten/Person.html" name="Person">
    <xs:sequence>
      <xs:element name="personidentifikator" type="tns:personidentifikator" />
      <xs:element minOccurs="0" name="reservasjon" type="tns:reservasjon" />
      <xs:element minOccurs="0" name="status" type="tns:status" />
      <xs:element minOccurs="0" name="beskrivelse" type="tns:beskrivelse" />
      <xs:element minOccurs="0" name="Kontaktinformasjon" type="tns:Kontaktinformasjon" />
      <xs:element minOccurs="0" name="SikkerDigitalPostAdresse" type="tns:SikkerDigitalPostAdresse" />
      <xs:element minOccurs="0" maxOccurs="1" name="X509Sertifikat" type="tns:X509Sertifikat" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.local/Felles/X509Sertifikat.html" name="X509Sertifikat">
    <xs:restriction base="xs:base64Binary" />
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/personidentifikator.html" name="personidentifikator">
    <xs:restriction base="xs:string">
      <xs:length value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/status.html" name="status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKTIV" />
      <xs:enumeration value="SLETTET" />
      <xs:enumeration value="IKKE_REGISTRERT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.local/Felles/beskrivelse.html" name="beskrivelse">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/reservasjon.html" name="reservasjon">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JA" />
      <xs:enumeration value="NEI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType sawsdl:modelReference="http://begrep.difi.no/Oppslagstjenesten/Kontaktinformasjon.html" name="Kontaktinformasjon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mobiltelefonnummer" type="tns:Mobiltelefonnummer" />
      <xs:element minOccurs="0" name="Epostadresse" type="tns:Epostadresse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://begrep.difi.no/Oppslagstjenesten/SikkerDigitalPostAdresse.html" name="SikkerDigitalPostAdresse">
    <xs:sequence>
      <xs:element name="postkasseadresse" type="tns:postkasseadresse" />
      <xs:element name="postkasseleverandoerAdresse" type="tns:postkasseleverandoerAdresse" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/postkasseadresse.html" name="postkasseadresse">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/postkasseleverandoerAdresse.html" name="postkasseleverandoerAdresse">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType sawsdl:modelReference="http://begrep.difi.no/Oppslagstjenesten/Epostadresse.html" name="Epostadresse">
    <xs:simpleContent>
      <xs:extension base="tns:epostadresse">
        <xs:attribute sawsdl:modelReference="http://begrep.difi.no/Felles/sistOppdatert.html" name="sistOppdatert" type="xs:dateTime" use="optional" />
        <xs:attribute sawsdl:modelReference="http://begrep.difi.no/Felles/sistVerifisert.html" name="sistVerifisert" type="xs:dateTime" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/mobiltelefonnummer.html" name="mobiltelefonnummer">
    <xs:restriction base="xs:string">
      <xs:minLength value="8" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://begrep.difi.no/Felles/epostadresse.html" name="epostadresse">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType sawsdl:modelReference="http://begrep.difi.no/Oppslagstjenesten/Mobiltelefonnummer.html" name="Mobiltelefonnummer">
    <xs:simpleContent>
      <xs:extension base="tns:mobiltelefonnummer">
        <xs:attribute sawsdl:modelReference="http://begrep.difi.no/Felles/sistOppdatert.html" name="sistOppdatert" type="xs:dateTime" use="optional" />
        <xs:attribute sawsdl:modelReference="http://begrep.difi.no/Felles/sistVerifisert.html" name="sistVerifisert" type="xs:dateTime" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>