kontaktinfo-app-wsclient-sample/src/main/resources/wsdl/postkasseleverandoer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://kontaktinfo.difi.no/wsdl/postkasseleverandoer/v1"
	xmlns:messages="http://kontaktinfo.difi.no/xsd/postkasseleverandoer/v1"
	name="postkasseleverandoer-v1" targetNamespace="http://kontaktinfo.difi.no/wsdl/postkasseleverandoer/v1">

	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://kontaktinfo.difi.no/xsd/postkasseleverandoer/v1"
				schemaLocation="postkasseleverandoer-messages.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="KanVelgeSikkerDigitalPostkasseForespoersel">
		<wsdl:part name="KanVelgeSikkerDigitalPostkasseForespoersel" element="messages:KanVelgeSikkerDigitalPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="KanVelgeSikkerDigitalPostkasseRespons">
		<wsdl:part name="KanVelgeSikkerDigitalPostkasseRespons" element="messages:KanVelgeSikkerDigitalPostkasseRespons" />
	</wsdl:message>
	
	<wsdl:message name="OpprettOgVelgSikkerDigitalPostkasseForespoersel">
		<wsdl:part name="OpprettOgVelgSikkerDigitalPostkasseForespoersel" element="messages:OpprettOgVelgSikkerDigitalPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="OpprettOgVelgSikkerDigitalPostkasseRespons">
		<wsdl:part name="OpprettOgVelgSikkerDigitalPostkasseRespons" element="messages:OpprettOgVelgSikkerDigitalPostkasseRespons" />
	</wsdl:message>
	
	<wsdl:message name="VelgSikkerDigitalPostkasseForespoersel">
		<wsdl:part name="VelgSikkerDigitalPostkasseForespoersel" element="messages:VelgSikkerDigitalPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="VelgSikkerDigitalPostkasseRespons">
		<wsdl:part name="VelgSikkerDigitalPostkasseRespons" element="messages:VelgSikkerDigitalPostkasseRespons" />
	</wsdl:message>

	<wsdl:message name="OpprettPostkasseForespoersel">
		<wsdl:part name="OpprettPostkasseForespoersel" element="messages:OpprettPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="OpprettPostkasseRespons">
		<wsdl:part name="OpprettPostkasseRespons" element="messages:OpprettPostkasseRespons" />
	</wsdl:message>
	
	<wsdl:message name="OppdaterPostkasseForespoersel">
		<wsdl:part name="OppdaterPostkasseForespoersel" element="messages:OppdaterPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="OppdaterPostkasseRespons">
		<wsdl:part name="OppdaterPostkasseRespons" element="messages:OppdaterPostkasseRespons" />
	</wsdl:message>
	
	<wsdl:message name="SlettPostkasseForespoersel">
		<wsdl:part name="SlettPostkasseForespoersel" element="messages:SlettPostkasseForespoersel" />
	</wsdl:message>
	<wsdl:message name="SlettPostkasseRespons">
		<wsdl:part name="SlettPostkasseRespons" element="messages:SlettPostkasseRespons" />
	</wsdl:message>
	
	<wsdl:portType name="postkasseleverandoer-v1">
	
		<wsdl:operation name="KanVelgeSikkerDigitalPostkasse">
			<wsdl:input message="tns:KanVelgeSikkerDigitalPostkasseForespoersel" />
			<wsdl:output message="tns:KanVelgeSikkerDigitalPostkasseRespons" />
		</wsdl:operation>

		<wsdl:operation name="OpprettOgVelgSikkerDigitalPostkasse">
			<wsdl:input message="tns:OpprettOgVelgSikkerDigitalPostkasseForespoersel" />
			<wsdl:output message="tns:OpprettOgVelgSikkerDigitalPostkasseRespons" />
		</wsdl:operation>
		
		<wsdl:operation name="VelgSikkerDigitalPostkasse">
			<wsdl:input message="tns:VelgSikkerDigitalPostkasseForespoersel" />
			<wsdl:output message="tns:VelgSikkerDigitalPostkasseRespons" />
		</wsdl:operation>

		<wsdl:operation name="OpprettPostkasse">
			<wsdl:input message="tns:OpprettPostkasseForespoersel" />
			<wsdl:output message="tns:OpprettPostkasseRespons" />
		</wsdl:operation>	
		
		<wsdl:operation name="OppdaterPostkasse">
			<wsdl:input message="tns:OppdaterPostkasseForespoersel" />
			<wsdl:output message="tns:OppdaterPostkasseRespons" />
		</wsdl:operation>		
		
		<wsdl:operation name="SlettPostkasse">
			<wsdl:input message="tns:SlettPostkasseForespoersel" />
			<wsdl:output message="tns:SlettPostkasseRespons" />
		</wsdl:operation>	
		
	</wsdl:portType>

	<wsdl:binding name="postkasseleverandoer-v1_SOAP11Binding"
		type="tns:postkasseleverandoer-v1">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="KanVelgeSikkerDigitalPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="OpprettOgVelgSikkerDigitalPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="VelgSikkerDigitalPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="OpprettPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="OppdaterPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SlettPostkasse">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="postkasseleverandoer-v1">
		<wsdl:port binding="tns:postkasseleverandoer-v1_SOAP11Binding"
			name="postkasseleverandoer">
			<soap:address location="/ws-postkasseleverandoer-v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
